<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Manager Graphs</h1>
    <p>X-axis label: {{ xlabel }}</p>
    <p>Y-axis label: {{ ylabel }}</p>

    <div style="width:400px; height:400px;"> <!-- Increased width for better label visibility -->
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var xValues = {{ x_list | safe }};
        var yValues = {{ y_list | safe }};
        var chart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: '{{ ylabel | safe }}', // This labels the dataset
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgb(75, 192, 192)',
                    data: yValues.map((y, index) => ({x: xValues[index], y: y})), // Correctly structures data for a scatter plot
                    fill: false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false,  // Set to false to avoid starting at 0
                        type: 'linear',
                        display: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: '{{ ylabel | safe }}'  // Correctly set y-axis label
                        },
                        ticks: {
                            stepSize: 5  // Sets the step size between ticks
                        }
                    },
                    x: {
                        type: 'linear',
                        display: true,
                        position: 'bottom',
                        title: {
                            display: true,
                            text: '{{ xlabel | safe }}'  // Correctly set x-axis label
                        }
                    }
                }
            }
        });
    </script>
    
    
    
</body>
</html>
