<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Graphs</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1>Manager Graphs</h1>
    <p>X-axis label: {{ xlabel }}</p>
    <p>Y-axis label: {{ ylabel }}</p>
    <p>Graph Type: {{ graph }}</p>

    <div style="width:400px; height:400px;">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var xValues = {{ x_list | safe }};
        var yValues = {{ y_list | safe }};
        var chartType = '{{ graph | safe }}';
    
        var chart = new Chart(ctx, {
            type: chartType,
            data: {
                labels: xValues, 
                datasets: [{
                    label: '{{ ylabel | safe }}',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgb(75, 192, 192)',
                    data: (chartType === 'scatter') ? yValues.map((y, index) => ({x: xValues[index], y: y})) : yValues,
                    fill: false,
                    showLine: chartType === 'line' ? true : false
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: false,
                        type: 'linear',
                        display: true,
                        position: 'left',
                        title: {
                            display: true,
                            text: '{{ ylabel | safe }}'
                        },
                        ticks: {
                            stepSize: 5
                        }
                    },
                    x: {
                        type: 'linear',
                        display: true,
                        position: 'bottom',
                        title: {
                            display: true,
                            text: '{{ xlabel | safe }}'
                        }
                    }
                }
            }
        });
    </script>
    
    
    
    
</body>
</html>
