<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <h2>Patients Information</h2>

    <ul>
        {% for patient in patients1 %}
            <li>ID: {{ patient.patient_id }}, Name: {{ patient.name }}, Weight: {{ patient.weight }} kg, Height: {{ patient.height }} cm</li>
        {% endfor %}
    </ul>
    <ul>
        {% for patient in patients2 %}
            <li>ID: {{ patient.patient_id }}, Name: {{ patient.name }}, Weight: {{ patient.weight }} kg, Height: {{ patient.height }} cm</li>
        {% endfor %}
    </ul>
</body>
</html>
